spring:
  datasource:
    url: jdbc:mysql://localhost:3306/interview-management
    username: root
    password: 12345678
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    show-sql: true
    properties:
      hibernate:
        order_inserts: true
        order_updates: true
        jdbc:
          batch_size: 50

  mail:
    host: smtp.gmail.com
    port: 587
    username: imsshare.study@gmail.com
    password: loza oesp bcpk snch
#    password: "@Aa123456"
    properties:
      mail:
        smtp:
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

upload-dir: src/main/resources/uploads/

security:
  token:
    secret-key: 123asfcvbvc123iJKV1QifQeyJpZCI6IjEiLCJuYW1lIjoiSG=DfdgoG5nIEjhuqNpIiwiYm9kIjoiMzAxMTk2In0WtkUBKfOODm95qBPKv7C2zMGS6lsK26RMX5B7QVqoCCxgI2dTtIyBVguyZkgQXISIu0k4e9P0FiiRfiuZZog
